{% extends 'ncuofoiv/layout.html.twig' %}

{% block foivContent %}
    <div class="row" style="margin-top: 10px; margin-bottom: 4px;">
        <!--<div class="col-md-9">
            <h4><i class="fa fa-database fa-fw"></i>&nbsp;<i class="fa fa-angle-right"></i>&nbsp;Структурная схема</h4>
        </div>
        <div class="col-md-3">
            <a class="btn btn-sm btn-default pull-right"  style="padding: 3px 12px;">
                <i class="fa fa-plus-circle"></i>&nbsp;
                Добавить
            </a>
        </div>-->
        <div class="tab-content" style=" margin-bottom: 15px;">
            <div class="row" style="margin-top: 10px; margin-bottom: 4px;">
                <div class="col-md-12">
                    <h4><i class="fa fa-database fa-fw"></i>&nbsp;<i class="fa fa-angle-right"></i>&nbsp;Структурная схема</h4>
                </div>
            </div>
            {% if(imageExists) %}
            <img src="{{ asset(schemaImagePath) }}" style="width: 100%">
            {% endif %}
            <div class="row" style="margin: 30px 0px">
                <a class="btn btn-warning" href="{{urlFoivEdit}}">{{title_edit}}</a>
            </div>
        </div>        
        
    </div>
{% endblock %}