
        <div class="container-fluid" style="padding: 50px 14px">
            <div class="row">
              <div class="col" style="text-align: left; padding-left: 0px;">
        {% if rolePerms is defined %}
                {% if (rolePerms["update"] == true or rolePerms["create"] == true ) %}
               
                <button type="submit" id="btnSaveForm" class="btn btn-primary" style="margin-right: 25px; padding: 7px 20px; background-color: #FFF; color: #228be6" form="create_data" title="Сохранить">Сохранить</button>

                {% endif %}
        {% elseif app.user.role is defined %}
                {% if app.user.role == 1 %}
        <button type="submit" class="btn btn-primary" style="margin-right: 25px; padding: 7px 20px; background-color: #FFF; color: #228be6" form="create_data" title="Сохранить">Сохранить</button>
                {% endif %}
        {% endif %}
        {% if urlBack is defined and urlBack != "" %}
        <button class="btn btn-primary" style="margin-right: 25px; padding: 7px 20px; background-color: #FFF; color: #228be6" onclick="window.location.replace('{{urlBack}}')"  title="Вернуться">Вернуться</button>
       {% endif %}
        {% if urlView is defined and urlView != "" %}
        <button class="btn btn-primary" style="margin-right: 25px; padding: 7px 20px; background-color: #FFF; color: #228be6" onclick="window.location.replace('{{urlView}}')"  title="Просмотр">Просмотр</button>
       {% endif %}
        {% if urlList is defined and urlList != "" %}
        <button class="btn btn-primary" style="margin-right: 25px; padding: 7px 20px; background-color: #FFF; color: #228be6" onclick="window.location.replace('{{urlList}}')"  title="К списку">К списку</button>
       {% endif %}

              </div>
            </div>
        </div>  