<div class="list-buttons">
{% if is_granted('ROLE_FOIV') or is_granted('ROLE_ADMIN') %}
        <button type="submit" class="btn btn-save" form="create_data" title="Сохранить" />
{% endif %}
        {% if urlBack is defined and urlBack != "" %}
        <button class="btn btn-list" onclick="window.location.replace('{{urlBack}}')"  title="Вернуться к списку" />
       {% endif %}
</div>