{% extends 'ncuoportal/security/layout.html.twig' %}

{% block authorisation_form %}
    <div id="login_panel" style="width: 300px; padding-left: 20px; padding-top: 20px; position: absolute; top: 80px; left: -1000px;">
        
        {% if error %}
            <div class="alert alert-danger" style="font-family: Tahoma; font-size: 12px; width: 260px;">
                <i class="fa fa-warning fa-fw"></i>&nbsp;&nbsp;
                <button data-dismiss="alert" class="close" type="button">×</button>
                {% if (app.environment ==  "prod") %}
                    <b>Ошибка!</b>&nbsp;&nbsp;Неверные имя пользователя и (или) пароль
                {% else %}
                    {{ error.messageKey|trans(error.messageData) }}
                {% endif %}    
            </div>
        {% endif %}
        
        <form action="{{ path('login_check') }}" method="POST" role="form" style="width: 260px;">
            <div class="form-group">
                <input value="{{ last_username }}" autocomplete="off" name="username" placeholder="Имя пользователя" class="form-control" style="width: 260px; height: 30px; font-family: Tahoma; font-size: 14px;">
            </div>
            <div class="form-group">
                <input type="password" value="" autocomplete="off" name="password" placeholder="Пароль" class="form-control" style="width: 260px; height: 30px; font-family: Tahoma; font-size: 14px;">
            </div>
            {#<div class="checkbox">
                <label style="font-family: Tahoma; font-size: 12px;">
                    <input type="checkbox" value="1" name="remember_me">Запомнить пароль
                </label>
            </div>
            #}
            <button type="submit"class="btn" style="height: 30px; width: 120px; line-height: 30px; float: right; background-color: #5bc0de; color: white; font-family: Tahoma; font-size: 16px; padding: 0px;"><i class="fa fa-sign-in"></i> Войти</button>
        </form>
    </div>
{% endblock %}