<div id="formNewOption"  hidden="true" >
	<table class="table" style="border: 1px solid #DDD;">
		<tr>
			<td nowrap>Фамилия * :</td>
			<td width="100%">
				<input type="text" id="newOption_surname" value="">
			</td>
		</tr>
		<tr>
			<td nowrap>Имя * :</td>
			<td width="100%">
				<input type="text" id="newOption_name" value="">
			</td>
		</tr>
		<tr>
			<td nowrap>Отчество * :</td>
			<td width="100%">
				<input type="text" id="newOption_patronimyc" value="">
			</td>
		</tr>
		<tr>
			<td nowrap>Должность:</td>
			<td>
				<input type="text" id="newOption_position" value="" >
			</td>
		</tr>
		{# <tr>
			<td>Фото :</td>
			<td>
				<input type="text" id="newOption_photo">
			</td>
		</tr> #}
		<tr>
			<td>Телефон :</td>
			<td>
				<input type="text" id="newOption_phone" value="">
			</td>
		</tr>
		<tr>
			<td>Адрес :</td>
			<td>
				<input type="text" id="newOption_address" value="">
			</td>
		</tr>
		<tr>
			<td>E-mail :</td>
			<td>
				<input type="text" id="newOption_email" value="">
			</td>
		</tr>
		<tr>
			<td nowrap>Адрес веб-сайта :</td>
			<td>
				<input type="text" id="newOption_weburl" value="">
			</td>
		</tr>
		<tr>
			<td colspan=2><input type="button" class="btn btn-primary mtb10" onclick="createSelectOption('{{urlNewPerson}}')" value="Создать"></td>
		</tr>
	</table>
</div>