{% extends 'layout_ald_user_error.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}


{# ########################################################################## #}


{% block javascripts %}    
    
            
{% endblock %}


{# ########################################################################## #}


{% block breadcrumb %}
    <li>&nbsp;</li>
{% endblock %}


{# ########################################################################## #}

{% block content %}
    <h4 style="color: #bf0404">Ошибка аутентификации: <div style="font-size: 15px">Текущий ALD пользователь не найден. Обратитесь к администратору.</div></h4>
{% endblock %}
