<ul class="nav menu-left" id="side-menu">
            <li>
            <a href="#">
                <span class="fa arrow"></span>
                <div class="smi-title">Паспорта ФОИВ РФ / Субьектов РФ</div>
            </a>
            
            <ul class="nav nav-second-level nav-n-level collapse">
                                    <li>
                                                    <a href="/oiv/">
                                <div class="smi-title">ФОИВ РФ</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/region/">
                                <div class="smi-title">Субьекты РФ</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/oivsearch/">
                                <div class="smi-title">Поиск по паспортам ФОИВ РФ и Субьектов РФ</div>
                            </a>
                            
                    </li>
                    
            </ul>
        </li>            
    
                <li class="active">
            <a href="#">
                <span class="fa arrow"></span>
                <div class="smi-title">Контроль и управление функционированием</div>
            </a>
            
            <ul class="nav nav-second-level nav-n-level collapse in" aria-expanded="true" style="">
                                    <li class='active'>
                                                                                <a class='active' href="http://192.168.123.38:8080/admin/menus" target="_blank">
                                <div class="smi-title">Администрирование меню</div>
                            </a>
                                
                            
                    </li>
                                    <li>
                                                                                <a href="http://192.168.123.38:8080/admin/users" target="_blank">
                                <div class="smi-title">Администрирование пользователей</div>
                            </a>
                                 
                            
                    </li>
                                    <li>
                                                    <a href="/func/rep_data_act_control">
                                <div class="smi-title">Актуализация данных</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/map/">
                                <div class="smi-title">Выгрузка в ГИС</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/eif/">
                                <div class="smi-title">Данные</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/foiv/0/foiv_systems">
                                <div class="smi-title">Информационные системы</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/foiv/0/foiv_its_monitoring">
                                <div class="smi-title">Мониторинг ФОИВ</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/service/">
                                <div class="smi-title">Регламентные задачи</div>
                            </a>
                            
                    </li>
                                    <li>
                                                    <a href="/undercon">
                                <div class="smi-title">Сервисы</div>
                            </a>
                            
                    </li>
                    
            </ul>
        </li>            
    
                <li class="noChildren">
                            <a href="http://192.168.125.199/?login=open" target="_blank">
                    <div class="smi-title">ГИС МО</div>
                </a>
                    </li>
                <li class="noChildren">
                            <a href="http://192.168.125.19:8082/" target="_blank">
                    <div class="smi-title">Электронная почта</div>
                </a>
                    </li>
                <li class="noChildren">
                            <a href="http://192.168.125.19:8085/" target="_blank">
                    <div class="smi-title">FTP</div>
                </a>
                    </li>
    </ul>