{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}


{# ########################################################################## #}


{% block javascripts %}    
    {{ parent() }}
            
{% endblock %}


{# ########################################################################## #}


{% block breadcrumb %}
    <li>В разработке</li>
{% endblock %}


{# ########################################################################## #}

{% block content %}
    <h4>Данный раздел находится в разработке</h4>
{% endblock %}
