{% extends 'ncuoregion/new_layout.html.twig' %}

{% block content %}

<div class="container-fluid" style="line-height: 40px">
  <div class="row">
    <div class="col-12" style="font-weight: 600; font-size: 16px; margin-left: 37px">
        Удаление записи Субьекта РФ (РОИВ)
    </div>
  </div>
</div>
<div style="width: 95%; margin: auto; margin-top: 30px">

   <div class="form-inline" > 
   {% if region_name is defined and region_name != "" %}
      <div class="alert alert-success" role="alert">Субьект РФ (РОИВ) "{{region_name}}" успешно удален</div>
   {% endif %}
      {% if message is defined and message.message_text is defined %}
         <div class="alert alert-warning" role="alert">{{ message.message_text }}</div>
      {% endif %} 
   </div>        
   <div style="margin: 40px 0px 30px 0px">
      <button onclick="window.location.replace('{{ path('region', {}) }}')" title="Вернуться к списку Субьектов&nbsp;РФ" class="btn btn-return" /></a>
   </div>
        
</div>
   
{% endblock %}
